<p>
  Created at: <%= @message.created_at %>
</p>

<p>
  Author: <%= @message.author %>
</p>

<p>
  <%= @message.content %>
</p>

<p>
  <a href="http://<%= @message.url %>"><%= @message.url %></a>
</p>

<p>
  Other posts from this author:
  <% @other_messages_by_author.each do |post| %>
    <li><%= post.content %></li>
  <% end %> 

</p>


<hr/>
<a href="/messages">Back to All Messages</a>
